<div>
Welcome <%= @candidate.firstname %>,<br /><br />

Your candidate account with Orbis Resourcing has been created with the following details:<br /><br />

Login: <%= @candidate.email %><br />
password: <%= @candidate.password %><br /><br />

<%= link_to_open "Login", candidate_login_url %>
</div>
