<div>
Welcome <%= @client.firstname %>,<br /><br />

Your client account with Orbis Resourcing has been created with the following details:<br /><br />

Login: <%= @client.email %><br />
password: <%= @client.password %><br /><br />

<%= link_to_open "Login", client_login_url %>
</div>
