<div>
Welcome <%= @staff.firstname %>,<br /><br />

A staff account with Orbis Resourcing has been created for you with the following details:<br /><br />

Login: <%= @staff.email %><br />
password: <%= @staff.password %><br /><br />

<%= link_to_open "Login", login_url %>
</div>
