  <div class="news-ticker">
    <div class="slider">
      <% hot_vacancies.each do |vacancy| %>
      <div class="slide"><%= link_to "#{vacancy.role} - #{vacancy.salary}, #{vacancy.location}", vacancy %></div>
      <% end %>
    </div>
  </div>
