<div>
  Role:<%= @vacancy.role %>
</div>
<div>
  Salary:<%= @vacancy.salary %>
</div>
<div>
  Location:<%= @vacancy.location %>
</div>
<div>
  Role description:<%= @vacancy.role_description %>
</div>
