<% use_tinymce -%>
<%= my_page_title 'Edit Vacancy' %>
<div class="create-new-user">
  <fieldset>
<% formatted_form_for [:admin, @vacancy] do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<div>
  <%= f.submit "Update" %>
  <%= vacancy_update_status_buttons(f) %>
</div>
<% end %>
 </fieldset>
</div>
