<div class="wrap">
  <div class="heading">
    <h1>Live vacancies</h1>
  </div>
</div>
<div class="twocolumn">
  <div class="holder">
    <div class="frame">
      <div class="col">
        <div class="col-heading">
          <h2>TECHNOLOGY</h2>
          <div class="pager">
            <span>Page:</span>
            <%= will_paginate @technology_vacancies, :param_name => "pt", :renderer => PaginationListLinkRenderer %>
          </div>
        </div>
        <ul class="list">
          <% @technology_vacancies.each do |vacancy| %>
          <li><%= link_to "#{vacancy.role} - #{vacancy.location}", vacancy %></li>
          <% end %>
        </ul>
      </div>
      <div class="col">
        <div class="col-heading">
          <h2>ACCOUNTANCY &amp; FINANCE</h2>
          <div class="pager">
            <span>Page:</span>
            <%= will_paginate @finance_vacancies, :param_name => "pa", :renderer => PaginationListLinkRenderer %>
          </div>
        </div>
        <ul class="list">
          <% @finance_vacancies.each do |vacancy| %>
          <li><%= link_to "#{vacancy.role} - #{vacancy.location}", vacancy %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

