<div class="wrap">
                                                        <h1>Working with you</h1>
																																																								     <img src="images/img-clients02.jpg" alt="Orbis Clients" />
                                                </div>
                                                <div class="wrap">
                                                        <div id="main-full">

                                                                        <p>We understand that employing the right people can make or break a company's success.<br /> We also know that for successful staffing solutions to be provided, and strong long term working relationships to be developed, a 'one size fits all' business model does not and will not work. This is why we formulate a staffing solution to suit you.</p>
																																																																								                       <h3>As an Orbis client, you will immediately benefit from:</h3>
                                                                <ul class="unordered-list">
                                                                        <li>A dedicated single point of contact focused on getting to know you and your organisation</li>
                                                                        <li>The formulation of a personalised staffing strategy</li>
                                                                        <li>Market research for your forthcoming projects - candidate availability, salaries and/or rates</li>
                                                                        <li>A proactive, multi-targeted approach to selecting your candidate shortlist – adverts, emails, direct calling and headhunting</li>
                                                                        <li>A dedicated candidate research team throughout the duration of your campaign</li>
                                                                        <li>Pre-qualification and reference gathering for all shortlisted candidates</li>
                                                                        <li>We guarantee you personal attention. We will return your calls and emails promptly to ensure that working with us is a success</li>
                                                                </ul>
                                                                <a href="contact?subject=consultation" class="request">Request a FREE consultation with one of our consultants.</a>
																																																																<div id="persuader">
                                                                <div class="links">
                                                                        <div class="col">
                                                                                <h2>Technology</h2>
                                                                                <ul>
                                                                                        <li><a href="/vacancies">IT Support</a></li>
                                                                                        <li><a href="/vacancies">Network Support</a></li>
                                                                                        <li><a href="/vacancies">Application Development</a></li>
                                                                                        <li><a href="/vacancies">Web Development</a></li>
                                                                                        <li><a href="/vacancies">RDBMS</a></li>
                                                                                        <li><a href="/vacancies">Software Engineering</a></li>
                                                                                        <li><a href="/vacancies">Business Analysts</a></li>
                                                                                        <li><a href="/vacancies">Project Management</a></li>
                                                                                        <li><a href="/vacancies">Technical Architect/Consultants</a></li>
                                                                                        <li><a href="/vacancies">Testers</a></li>
                                                                                        <li><a href="/vacancies">Trainers</a></li>
                                                                                        <li><a href="/vacancies">Technical Authors</a></li>
                                                                                </ul>
                                                                        </div>
                                                                        <div class="col">
                                                                                <h2>Accountancy &amp; Finance</h2>
                                                                                <ul>
                                                                                        <li><a href="/vacancies">Accountancy within industry</a></li>
                                                                                        <li><a href="/vacancies">Accountancy within practise</a></li>
                                                                                        <li><a href="/vacancies">Finance Directors</a></li>
                                                                                        <li><a href="/vacancies">Finance Controllers</a></li>
                                                                                        <li><a href="/vacancies">Finance Managers</a></li>
                                                                                        <li><a href="/vacancies">Management Accountants</a></li>
                                                                                        <li><a href="/vacancies">Financial Accountants</a></li>
                                                                                        <li><a href="/vacancies">Systems Accountants</a></li>
                                                                                        <li><a href="/vacancies">Financial Analysts</a></li>
                                                                                        <li><a href="/vacancies">Accounts Payable</a></li>
                                                                                        <li><a href="/vacancies">Sales Ledger</a></li>
                                                                                        <li><a href="/vacancies">Credit Control</a></li>
                                                                                </ul>
                                                                        </div>
																																																																								
                                                                </div>
																																																																  <div class="create-account">
                                                               
                                                                <h4>Benefit from an Orbis account</h4>
                                                                <div class="promo-text">
                                                                        <p>Create an account with Orbis and as well as submitting your staffing requirements online you will also get access to our online resource portal which contains white papers on a wide range of topics.</p>
                                                                </div>
                                                                <a href="clients/new" class="btn03"><span><strong>Create an account</strong></span></a>
                                                        </div>
																																																								</div>
                                         
                                                        </div>
                                                     
                                                </div>
