
<div class="wrap">
                                                        <div class="heading">
                                                                <h1>Login to your client account</h1>
                                                        </div>
                                                </div>
                                                <div class="account">
                                                        <div class="title">
                                                                <h2>CLIENT ACCOUNT</h2>
                                                                <p>Manage your vacancies online and 24 hr access to our resources portal.</p>
                                                        </div>
                                                        <div class="login-form">
                                                                <div class="holder">
                                                                        <div class="form-holder">


<%= render :partial => 'user_sessions/form' %>
</div>
                                                                        <div class="text">
                                                                                <p>If you haven’t already registered with us click the button below to create a free account in seconds.</p>
                                                                                <a href="clients/new" class="btn03"><span><strong>Create client account</strong></span></a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                        