<div class="promo-area">
  <div class="holder">
    <div class="img-holder">
      <img src="images/img-home.jpg" alt="image01" />
    </div>
    <div class="text">
      <p>Founded in 2002, Orbis Resourcing provides Technology and Accountancy &amp; Finance staffing solutions within the small to medium sized business (SMB) sector, along with specialist divisions of larger corporate organisations</p>
      <div class="wrap">
        <a href="clients" class="btn02">
          <span>Clients</span>I’m looking for staff
        </a>
        <a href="candidates" class="btn02">
          <span>Candidates</span>I’m looking for a job
        </a>
      </div>
    </div>
  </div>
</div>
<div id="job-ticker-area">
  <a class="more" href="/vacancies">View all</a>
  <strong>LIVE VACANCIES</strong>
  <%= render :partial => "home/news_ticker/slider" %>
</div>
<div class="inform">
  <div class="inform-box">
    <a href="/vacancies"><img src="images/img02.gif" alt="Technology staffing solutions in the UK" /></a>
    <div class="text">
      <strong class="title">Technology</strong>
      <span class="subtitle">Staffing solutions</span>
    </div>
  </div>
  <div class="inform-box">
    <div class="slideshow">
      <div class="slideset">
        <div class="text active">
          <strong class="title">Client Testimonials</strong>
          <span class="subtitle">User experiences</span>
          <blockquote>
            <p>
              <q>"Orbis are professional and competant. We are always kept well informed and will have no hesitation in using them again for future recruitment needs."</q>
              <cite>Sandra, Nielsen Books</cite>
            </p>
          </blockquote>
        </div>
        <div class="text">
          <strong class="title">Client Testimonials</strong>
          <span class="subtitle">Slide 2</span>
          <blockquote>
            <p>
              <q>"We have been woring with Orbis since 2007 and over that time they have become a valuable strategic partner to our business. Whether I require permanent of contract staff Orbis deliver"</q>
              <cite>Oliver, Technical Director</cite>
            </p>
          </blockquote>
        </div>
        <div class="text">
          <strong class="title">Client Testimonials</strong>
          <span class="subtitle">Slide 3</span>
          <blockquote>
            <p>
              <q>"Not only have they been successful in the core of area of our business but their ability to diversify their staffing skills has also allowed them to successfully source key candidates for other areas of the business."</q>
              <cite>Oliver, Technical Director</cite>
            </p>
          </blockquote>
        </div>
      </div>
      <span class="btn-prev"><a href="#">prev</a></span>
      <span class="btn-next"><a href="#">next</a></span>
    </div>
  </div>
  <div class="inform-box">
    <a href="/vacancies"><img src="images/img03.gif" alt="Accountancy & Finance Staffing solutions in the UK" /></a>
    <div class="text">
      <strong class="title">Accountancy &amp; Finance</strong>
      <span class="subtitle">Staffing solutions</span>
    </div>
  </div>
</div>
