<%= my_page_title "Edit personal details" %>
<div class="edit-staff">
  <fieldset>
    <% formatted_form_for [:admin, @staff] do |f| %>
    <%= f.error_messages %>
    <%= render :partial => 'admin/users/user_fields', :locals => { :f => f } %>
    <p><%= f.submit "Update" %></p>
    <% end %>
  </fieldset>
</div>
