<%= my_page_title "Staff details" %>
<div class="show-staff">
  <fieldset>
   <div class="row"> Name: <%=@staff.to_s%></div>
  <div class="row"> Email: <%=mail_to @staff.try(:email)%></div>
  <div class="row"> Telephone: <%=@staff.try(:telephone)%></div>
 </fieldset>
</div>
