<div class="wrap">
                                                        <h1>Sourcing the job that suits you best</h1>
                                                </div>
                                                <div class="wrap">
                                                        <div id="main">
                                                                        <p>For candidates seeking permanent and/or contract positions, Orbis provide a wide variety of rewarding and challenging opportunities.</p>

<p>Partnerships with our clients help us identify the key factors within each job requirement to ensure only the right candidates are sourced. Suffice to say Orbis is well placed to help you find the job that suits you best, from temporary &amp; interim based opportunities to permanent and executive positions with leading employers.</p>

<p>If you need career advice, you can’t really beat speaking with one of our specialist consultants, however, the ‘resource portal’ also has some useful hints about the kinds of things you should be thinking about and doing, before you embark on this life change.</p>
                                                                <div class="links">
                                        <h3>Register for access to free resources and more...</h3>
                                    <p><a href="/candidates/new">Register with Orbis</a> and gain access to the following free resources:</p>
                                                                        <div class="col">
                                                                                <ul>
                                                                                        <li>How to write an effective CV</li>
                                            <li>How to write cover letters</li>
                                            <li>Interview tips </li>
                                            <li>Maps &amp; journey planners</li>
                                            <li>UK Tax Calculator</li>
                                            <li>Relocation guide</li>
                                            <li>Employment legislation advice</li>
                                            <li>Timesheet</li>
                                                                                </ul>
                                                                        </div>
                                    <p class="clear"><br />
You’ll also have access to your own account page and benefit from a one<br />
click application process for all jobs listed on this website.</p>
                                                                </div>
                                                        </div>
                                                        <div class="aside">
                                                                <div class="img-holder">
                                                                        <img src="images/img04.jpg" alt="image04" />
                                                                </div>
                                                                <h4>Testimonial</h4>
                                                                <div class="promo-text">
                                                                        <p>“My most valuable asset in looking for a new career move has been Orbis Resourcing. They have found me the best position, meeting all of my goals for career progression, and have
provided excellent support and expert advise throughout the interview process. Constant attention to detail and timely
communication at all levels makes the process of looking for work so much easier when working with Orbis.”</p>
                                                                </div>

                                                        </div>
                                                </div>
