<div class="wrap">
  <h1>Sourcing the job that suits you best</h1>
</div>
<div class="wrap">
  <div id="main">
    <p>For candidates seeking permanent and/or contract positions, Orbis provide a wide variety of rewarding and challenging opportunities.</p>

    <p>Partnerships with our clients help us identify the key factors within each job requirement to ensure only the right candidates are sourced. Suffice to say Orbis is well placed to help you find the job that suits you best, from temporary &amp; interim based opportunities to permanent and executive positions with leading employers.</p>

    <p>If you need career advice, you can’t really beat speaking with one of our specialist consultants, however, the ‘resource portal’ also has some useful hints about the kinds of things you should be thinking about and doing, before you embark on this life change.</p>
    <div class="links">
      <h3>Free resources and more...</h3>
      <p><a href="/candidates/new">Register with Orbis</a> and gain access to even more free resources:</p>
     
        <ul class="accordion">
          <li><a href="/system/resources/How_to_write_a_CV.pdf" target=_blank">How to write an effective CV</a></li>
          <li><a href="/system/resources/How_to_write_Cover_Letters.pdf" target=_blank">How to write cover letters</a></li>
          <li><a href="/system/resources/Interview_tips_for_candidates.pdf" target="_blank">Interview tips</a></li>
										
          <li>Relocation guides
										<ul>
											<li><a href="/system/resources/movingtips.pdf" target="_blank">Top 10 moving tips</a></li>
											<li><a href="/system/resources/Things_to_consider_before_relocating.pdf" target="_blank">Things to consider about relocating</a></li>
											
										</ul>
										</li>
          <li>Maps &amp; Journey Planners
										
<ul class="slide">
													<li><a href="http://maps.google.co.uk/" target="_blank">Google Maps</a></li>

<li><a href="http://www.nationalrail.co.uk/system/galleries/download/print_maps/uk.pdf" target="_blank">UK Rail Map</a></li>

<li><a href="http://www.nationalrail.co.uk/system/galleries/download/print_maps/LondonAndSouthEast.pdf" target="_blank">South East Train Maps</a></li>

<li><a href="http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2?language=en" target="_blank">Journey Planners: National Rail</a></li>

<li><a href="http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2?language=en" target="_blank">London Journey Planner</a></li>

<li><a href="http://www.thetrainline.com/buytickets/?" target="_blank">The Trainline</a></li>

<li><a href="http://www.theaa.com/route-planner/index.jsp" target="_blank">The AA.com journey planner</a></li>

<li><a href="http://www.bbc.co.uk/travelnews/" target="_blank">BBC Roadwatch</a></li>

<li><a href="http://www.nearesthotels.co.uk/" target="_blank">Staying away from home? NearestHotels.co.uk</a></li>

<li><a href="http://www.hoteldirect.co.uk/" target="_blank">Hoteldirect.co.uk</a></li>
</ul></li>
										
										
          <li><a href="http://www.listentotaxman.com" target="_blank">UK Tax Calculator</a></li>
          <li><a href="http://www.adviceguide.org.uk/index/life/employment" target="_blank">Employment legislation advice</a></li>
										<li><a href="/system/resources/timesheet_v4.pdf" target="_blank">Timesheet</a></li>
        </ul>
      <p class="clear"><br />
      Please note that Orbis Resourcing Limited is not responsible for the content of external internet sites.</p>
    </div>
  </div>
  <div class="aside">
    <div class="img-holder" style="border:none;">
      <img src="images/img04.jpg" alt="image04" />
    </div>
    <h4>Testimonial</h4>
    <div class="promo-text">
      <p>&ldquo;My most valuable asset in looking for a new career move has been Orbis Resourcing. They have found me the best position, meeting all of my goals for career progression, and have
      provided excellent support and expert advise throughout the interview process. Constant attention to detail and timely
      communication at all levels makes the process of looking for work so much easier when working with Orbis.&rdquo;<br />
						<strong>Justin Mottaz, Project Manager</strong></p>
    </div>

  </div>
</div>
