                                        <div class="wrap">
                                                        <div class="heading">
                                                                <h1>Login to your candidate account</h1>
                                                        </div>
                                                </div>
                                                <div class="account">
                                                        <div class="title">
                                                                <h2>CANDIDATE ACCOUNT</h2>
                                                                <p>Upload your CV and apply for jobs online.</p>
                                                        </div>
                                                        <div class="login-form">
                                                                <div class="holder">
                                                                        <div class="form-holder">


<%= render :partial => 'user_sessions/form' %>
                        </div>
                                                                        <div class="text">
                                                                                <p>If you haven’t already registered with us click the button below to create a free account in seconds.</p>
                                                                                <a href="candidates/new" class="btn03"><span><strong>Create candidate account</strong></span></a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                             
