<div class="wrap">
  <h1>Careers at Orbis Resourcing</h1>
</div>
<div class="wrap">
  <div id="main">
    <p>Our most important assets are the members of our team, and we view it as a priority to continually develop and invest in all our team members. Therefore, we have an excellent in-house training and career development scheme.</p>

    <p><strong>We aim to:</strong><br />
    Encourage and support all members of the team in the successful development of skills, knowledge and experience that will enable them to respond to the demands of their jobs<br />
    Create opportunities and communication channels for all members of the team to influence the company’s decision-making<br />
    Provide an enjoyable and productive working environment<br />
    Provide a supporting environment in which to enjoy working</p>

    <p>The sort of people that we know will thrive in our working environment and organisational culture will recognise the following profile: <br />

    You will thrive on success, push the boundaries to achieve and demonstrate an unnerving personal determination in life. You will have demonstrated personal achievement throughout your life so far and thrive on any challenge put in front of you.</p>

    <p><strong>You will be:</strong><br />
    A self starter<br />
    A proactive thinker and perceptive individual<br />
    Constantly generating ideas and ways to improve things<br />
    Very well liked, enjoy meeting new people and helping others out.</p>

    <p>You will be searching for an organisation that has clear direction and strong management, feel comfortable with an element of structure, and enjoy a team spirit that consistently encourages all members of the team to succeed. In return, you will be well rewarded and enjoy an uncapped bonus scheme that is focussed on over-achievement.</p>

    <div class="highlight-box">
      <p><strong>We are CURRENTLY RECRUITING.</strong> </p>

      <p>Send your CV and covering letter to <a href="mailto:info@orbis-resourcing.com">info@orbis-resourcing.com</a></p>
    </div>
  </div>
  <div class="aside">
    <div class="img-holder">
      <img src="images/img04.jpg" alt="image04" />
    </div>
    <div class="promo-text">
      <h4>Benefits of working for Orbis</h4>
      <p><strong>Commission scheme:  </strong><br />
      Great,  uncapped commission scheme that is well established, available to all and rewards 'big billers'</p>

      <p><strong>Annually increasing holiday entitlement:</strong><br />
      The   longer you      are with us,the more time off you get, plus over achievers can accrue more</p>

      <p><strong>Performance related business hours:</strong><br />
      (PRBH) Good billing, self management and office conduct leads to PRBH</p>

      <p><strong>Recognition awards:</strong><br />
      Monthly, quarterly and annual incentives and rewards available to all members of the team</p>

      <p><strong>In-depth training:</strong><br />
      Structured and        'on-the-job' training carried out internally for all staff</p>

      <p><strong>Great social events:</strong><br />
      Summer BBQ, Christmas party, monthly nights out, 'Pizza Pay-Day Friday' etc.</p>
    </div>
  </div>
</div>
