<div class="wrap">
  <h1>Company profile</h1>
</div>
<div class="wrap">
  <div id="main">
    <p>Founded in 2002, Orbis provide staffing solutions, predominantly within the small to medium-sized business (SMB) sector, along with specialist divisions of larger corporates.</p>

    <p>Our mission is to provide staffing solutions that not only deliver, but exceed client and candidate expectations, enabling us to build relationships of longevity. Our approach combines the commitment and personal service of a local agency with large-scale investment and technology normally associated with larger corporates. Our services continually evolve as we work with you, because we believe that a personalised service is the key to building a strong, sustainable relationship.</p>

    <p>Testament to our capabilities and proof of our satisfied clients is that more than 80% of our placements are from repeat business.</p>

    <p>Orbis provide staffing solutions for permanent, contract, temporary and interim positions. We have a proven track record in supplying staff at all levels and across a broad range of industries. We take the time to listen to your specific needs, and in turn provide you with the staffing solution you require.</p>
  </div>
  <div class="aside">
    <div class="img-holder">
      <img src="images/img-discover.jpg" alt="Discover Orbis" />
    </div>
  </div>
</div>
