<% my_page_title "New Document" %>
<div class="create-new-document">
  <fieldset>
    <%= render :partial => 'form' %>
    <p><%= link_to "Back to List", admin_documents_path %></p>
  </fieldset>
</div>
