<fieldset>
<% formatted_form_for @user_session, :url => theurl do |f| %>
  <%= f.error_messages %>
    <%= f.text_field :email, :class => "txt", :label => "Email address:" %>
    <%= f.password_field :password, :class => "txt", :label => "Password:" %>
  <div class='buttons clearfix'>
    <%= f.submit 'Login' %>
  </div>
<% end %>
</fieldset>
