<%= my_page_title 'Login' %>
<div class="wrap">
  <div class="heading">
    <h1>Login to your account</h1>
  </div>
</div>
<div class="account">
  <div class="title">
    <h2>ADMIN ACCOUNT</h2>
    <p>Manage vacancies and users.</p>
  </div>
  <div class="login-form">
    <div class="holder">
      <div class="form-holder">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="articles">
    <div class="title">
      <h2>Account holder benefits</h2>
    </div>
    <div class="article">
      <h3>Submit your vacancies online</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="article">
      <h3>Browse our online resources portal</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>

