<div id="footer">
        <a href="contact" class="btn01"><span>Contact us</span></a>
        <div class="text">
                <div class="lists">
                        <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="clients">Clients</a></li>
                                <li><a href="candidates">Candidates</a></li>
                                <li><a href="discover#">Discover</a></li>
                                <li><a href="careers">Careers at Orbis</a></li>
                                <li><a href="contact">Contact us</a></li>
                                <li><a href="#">Privacy policy</a></li>
                        </ul>
                        <ul>
                                <li><a href="#">Staffing Solutions</a></li>
                                <li><a href="#">Employment Agency</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Accountancy</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">London</a></li>
                                <li><a href="#">UK</a></li>
                        </ul>
                </div>
                <p>Copyright 2009 &copy; Orbi Resourcing Limited. All rights reserved. Listed in the YFS business directory in the Staffing Solutions Goring-on-Thames category</p>
        </div>
</div>
