<div id="header">
        <strong class="logo"><a href="/">Orbis Resourcing</a></strong>
        <div class="header-text">
                <p><strong>Technology and Accountancy &amp; Finance staffing solutions</strong></p>
                <p><span>Tel: +44 (0) 1491 874 111</span> Email: <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#111;&#114;&#098;&#105;&#115;&#045;&#114;&#101;&#115;&#111;&#117;&#114;&#099;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#111;&#114;&#098;&#105;&#115;&#045;&#114;&#101;&#115;&#111;&#117;&#114;&#099;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></p>
        </div>
<div id="nav">
                <ul>
                        <li><a class="cufon" href="/">Home</a></li>
                        <li>
                                <a class="cufon" href="clients">Clients</a>
                                <div class="dropdown">
                                        <div class="holder">
                                                <ul>
                                                        <li><a href="client-login.shtml">Your account</a></li>
                                                        <li><a href="clients">Working with you</a></li>
                                                        <!--<li><a href="testimonials.shtml">Testimonials</a></li> -->
                                                </ul>
                                        </div>
                                        <span class="bg-bottom">&nbsp;</span>
                                </div>
                        </li>
                        <li><a class="cufon" href="candidates">Candidates</a>
                <div class="dropdown">
                                        <div class="holder">
                                                <ul>
                                <li><a href="candidates">Working with you</a></li>
                            <li><a href="candidate-live.shtml">Live job vacancies</a></li>
                                                        <li><a href="candidate-login.shtml">Your account</a></li>
                                                        <!--<li><a href="testimonials.shtml">Testimonials</a></li> -->
                                                </ul>
                                        </div>
                                        <span class="bg-bottom">&nbsp;</span>
                                </div>
            </li>
                        <li><a class="cufon" href="discover">Discover Orbis</a></li>
                        <li><a class="cufon" href="careers">Careers</a></li>
                        <li><a class="cufon" href="contact.shtml">Contact</a></li>
                </ul>
                <a class="btn-orange" href="contact.shtml"><span >Make an enquiry</span></a>
                <div class="mask1">&nbsp;</div>
                <div class="mask2">&nbsp;</div>
        </div>
</div>
